#slider {
    position:relative;
    height:203px;
	width:919px;
	margin:auto;
}

#slider img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#slider img.active {
    z-index:10;
    opacity:1.0;
}

#slider img.last-active {
    z-index:9;
}